@model IEnumerable<ProjetoMyTeDev.Models.CargaHoraria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NivelAcessoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcessoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CargaHorariaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CargaHorariaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CargaHorariaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
