@model ProjetoMyTeDev.Models.Wbs

@{
    ViewData["Title"] = "Deletar WBS";
}

<h3>Deletar WBS</h3>
<br/>
<h4>Você tem certeza de que deseja deletar este registro?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WbsCodigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WbsCodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WbsTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WbsTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WbsDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WbsDescricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WbsId" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-area="" asp-controller="Wbss" asp-action="Index" class="btn btn-secondary my-4">Voltar</a>
    </form>
</div>
