@model IEnumerable<ProjetoMyTeDev.Models.Wbs>

@{
    ViewData["Title"] = "WBS";
}

<h3>WBS</h3>

<p>
    <a asp-action="Create" class="btn btn-secondary my-4">Cadastrar WBS</a>
    <a asp-action="Create" class="btn btn-outline-secondary my-4">Voltar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WbsCodigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WbsTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WbsDescricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WbsCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WbsTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WbsDescricao)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-secondary my-4" asp-route-id="@item.WbsId"><i class="bi bi-brush"></i> Editar</a>
                <a asp-action="Details" class="btn btn-secondary my-4" asp-route-id="@item.WbsId"><i class="bi bi-eye"></i> Visualizar</a> 
                <a asp-action="Delete" class="btn btn-secondary my-4" asp-route-id="@item.WbsId"><i class="bi bi-trash"></i> Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
