@using Microsoft.AspNetCore.Identity
@using ProjetoMyTeDev.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model ProjetoMyTeDev.Models.RegistroDiario

@{

    ViewData["Title"] = "Cadastrar Registro";

    DateOnly data = DateOnly.FromDateTime(DateTime.Now);

    string dataFormatada = DateTime.Today.ToString("dddd", System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR")) + ", " + data.ToString("dd / MM / yyyy");
    List<DateOnly> QuinzenaAtual = new List<DateOnly>();

    int diaInicial = (data.Day <= 15) ? 1 : 16;
    int diaFinal = (data.Day <= 15) ? 15 : DateTime.DaysInMonth(data.Year, data.Month);

    for (int dia = diaInicial; dia <= diaFinal; dia++)
    {
        QuinzenaAtual.Add(new DateOnly(data.Year, data.Month, dia));
    }

    var usuario = @UserManager.GetUserAsync(User).Result;
}


<div class="row my-4">
    <h2 class="col">Cadastre suas horas</h2>
    <div class="col text-end">@dataFormatada</div>
</div>

<div id="funcionario-id" style="display: none;">
    @if (SignInManager.IsSignedIn(User))
    {
        @Html.Raw(usuario.Id)
    }
</div>

<div class="row mb-2">
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex align-items-center">
                <li class="page-item"><button class="page-link border-0 text-dark"><i class="bi bi-arrow-left-short fs-4"></i></button></li>
                &ensp;
                @QuinzenaAtual[0].ToString("dd/MM/yyyy") - @QuinzenaAtual[^1].ToString("dd/MM/yyyy")
                &ensp;
                <li class="page-item"><a class="page-link border-0 text-dark" href="#"><i class="bi bi-arrow-right-short fs-4"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="toast align-items-center border-0 bg-danger text-light float-end position-fixed" style="top: 20%; left:65%;" role="alert" aria-live="assertive" aria-atomic="true" id="daily-register-toast">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <div class="col">
        <button id="salvar-horas" class="btn btn-secondary float-end"><i class="bi bi-floppy2-fill"></i> &ensp; Salvar</button>
    </div>
</div>
<table class="table text-center">
    <thead class="">
        <tr>
            <th>WBS</th>
            @foreach (var dia in QuinzenaAtual)
            {

                @if (dia.DayOfWeek.ToString() == "Saturday" || dia.DayOfWeek.ToString() == "Sunday")
                {
                    <th class="text-muted" style="background-color: #E8E8E8;">@Html.Raw("PE")</th>
                }
                else
                {
                    <th style="color: #d15917;">@Html.Raw("PE")</th>
                }
            }
        </tr>
        <tr>
            <th></th>
            @foreach (var dia in QuinzenaAtual)
            {
                <span class="d-none">@dia</span>
                @if (dia.DayOfWeek.ToString() == "Saturday" || dia.DayOfWeek.ToString() == "Sunday")
                {
                    <th scope="col" class="text-muted" style="background-color: #E8E8E8;"><small class="fw-normal">@dia.DayOfWeek.ToString().Substring(0, 3)</small><br /><span>@dia.Day</span></th>
                }
                else
                {
                    <th scope="col"><small class="fw-normal">@dia.DayOfWeek.ToString().Substring(0, 3)</small><br /><span style="color: #d15917">@dia.Day</span></th>

                }
            }
        </tr>
    </thead>
    <tbody>
        @for (var linha = 0; linha < 5; linha++)
        {
            <tr>
                <th>
                    <select asp-for="WbsId" class="form-select wbs-select" asp-items="ViewBag.Wbs">
                        <option selected>WBS</option>
                    </select>
                </th>
                @foreach (var dia in QuinzenaAtual)
                {
                    @if (dia.DayOfWeek.ToString() == "Saturday" || dia.DayOfWeek.ToString() == "Sunday")
                    {
                        <td style="background-color: #E8E8E8;"><input class="form-control text-center registro-diario border-mutted" size="1" style="background-color: #E8E8E8; border-color: #f2f2f2;"></td>
                    }
                    else
                    {
                        <td scope="col"><input class="form-control text-center registro-diario" size="1" maxlength="1" /></td>
                    }
                }
            </tr>
        }
    </tbody>
    <tfooter>
        <tr>
            <th class="text-start">Total</th>
            @foreach (var dia in QuinzenaAtual)
            {
                @if (dia.DayOfWeek.ToString() == "Saturday" || dia.DayOfWeek.ToString() == "Sunday")
                {
                    <th style="background-color: #E8E8E8;"></th>
                }
                else
                {
                    <th></th>
                }
            }
        </tr>
    </tfooter>
</table>
