@model ProjetoMyTeDev.Models.RegistroDiario

@{
    ViewData["Title"] = "Deletar Registro";
}

<h3>Deletar Registro</h3>
<br />
<h4>Você tem certeza de que deseja deletar este registro?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wbs.WbsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RegistroDiarioId" />
        <input type="submit" value="Deletar" class="btn btn-secondary my-4" />
        <a asp-area="" asp-controller="RegistroDiarios" asp-action="Index" class="btn btn-secondary my-4">Voltar</a>
    </form>
</div>
