@model ProjetoMyTeDev.Models.RegistroDiario

@{
    ViewData["Title"] = "Detalhes Registro";
}

<h3>Detalhes do Registro</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wbs.WbsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-secondary my-4" asp-route-id="@Model?.RegistroDiarioId">Editar</a> |
    <a asp-area="" asp-controller="RegistroDiarios" asp-action="Index" class="btn btn-secondary my-4">Voltar</a>
</div>
