@model IEnumerable<ProjetoMyTeDev.Models.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h3>Departamento</h3>

<p>
    <a class="btn btn-secondary my-2" asp-action="Create">Cadastrar Departamento</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary my-4">Voltar</a>
</p>

<form asp-controller="Departamentos" asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Buscar por nome do Departamento" />
    </div>
    <div class="form-group">
        <input type="submit" value="Buscar" class="btn btn-secondary my-4" />    
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartamentoNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoNome)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-secondary my-4" asp-route-id="@item.DepartamentoId"><i class="bi bi-brush"></i> Editar</a> 
                    <a asp-action="Details" class="btn btn-secondary my-4" asp-route-id="@item.DepartamentoId"><i class="bi bi-eye"></i> Visualizar</a> 
                    <a asp-action="Delete" class="btn btn-secondary my-4" asp-route-id="@item.DepartamentoId"><i class="bi bi-trash"></i> Deletar</a>

            </td>
        </tr>
}
    </tbody>
</table>
