@model ProjetoMyTeDev.Models.Funcionario

@{
    ViewData["Title"] = "Detalhes Funcionário";
}

<h3>Detalhes do Funcionário</h3>

<div>
    <h4>Funcionário</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento.DepartamentoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelAcesso.NivelAcessoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataContratacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataContratacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo.CargoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-secondary my-4" asp-route-id="@Model?.FuncionarioId">Editar</a>
    <a asp-area="" asp-controller="Funcionario" asp-action="Index" class="btn btn-secondary my-4">Voltar</a>
</div>
