@model IEnumerable<ProjetoMyTeDev.Models.Funcionario>

@{

    ViewData["Title"] = "Index";

    DateOnly data = DateOnly.FromDateTime(DateTime.Now);

    string dataFormatada = $"{data.DayOfWeek}, {data.ToString("dd/MM/yyyy")}";
    List<DateOnly> QuinzenaAtual = new List<DateOnly>(); // ou qualquer data que você queira

    int diaInicial = (data.Day <= 15) ? 1 : 16;
    int diaFinal = (data.Day <= 15) ? 15 : DateTime.DaysInMonth(data.Year, data.Month);

    for (int dia = diaInicial; dia <= diaFinal; dia++)
    {
        QuinzenaAtual.Add(new DateOnly(data.Year, data.Month, dia));
    }

}

<div class="row my-4">
    <div class="col fs-5">Olá, funcionário</div>
    <div class="col text-end">@dataFormatada</div>
</div>

<h2>Cadastre suas horas</h2>
<div class="row my-4">
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex align-items-center">
                <li class="page-item"><a class="page-link border-0 text-dark" href="#"><i class="bi bi-arrow-left-short fs-4"></i></a></li>
                @QuinzenaAtual[0].ToString("dd/MM/yyyy") - @QuinzenaAtual[^1].ToString("dd/MM/yyyy")
                <li class="page-item"><a class="page-link border-0 text-dark" href="#"><i class="bi bi-arrow-right-short fs-4"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="col">
        <button class="btn float-end"><i class="bi bi-plus"></i> Adicionar registro</button>
    </div>
    <table class="table table-secondary text-center">
        <thead class="">
            <tr>
                <th>WBS</th>
                @foreach (var dia in QuinzenaAtual)
                {

                    @if (dia.DayOfWeek.ToString() == "Saturday" || dia.DayOfWeek.ToString() == "Sunday")
                    {
                        <th class="text-muted">@Html.Raw("PE")</th>
                    }
                    else
                    {
                        <th>@Html.Raw("PE")</th>
                    }
                }
            </tr>
            <tr>
                <th></th>
                @foreach (var dia in QuinzenaAtual)
                {
                    @if (dia.DayOfWeek.ToString() == "Saturday" || dia.DayOfWeek.ToString() == "Sunday")
                    {
                        <th scope="col" class="text-muted"><small class="fw-normal">@dia.DayOfWeek.ToString().Substring(0, 3)</small><br />@dia.Day</th>
                    }
                    else
                    {
                        <th scope="col"><small class="fw-normal">@dia.DayOfWeek.ToString().Substring(0, 3)</small><br />@dia.Day</th>

                    }
                }
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>
