@model IEnumerable<ProjetoMyTeDev.Models.NivelAcesso>

@{
    ViewData["Title"] = "Index";
}

<h3>Início</h3>

<p>
    <a asp-action="Create" class="btn btn-secondary my-4">Cadastrar Nível de Acesso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NivelAcessoNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcessoNome)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-secondary my-4" asp-route-id="@item.NivelAcessoId"><i class="bi bi-brush"></i> Editar</a>
                    <a asp-action="Details" class="btn btn-secondary my-4" asp-route-id="@item.NivelAcessoId"><i class="bi bi-eye"></i> Visualizar</a>
                    <a asp-action="Delete" class="btn btn-secondary my-4" asp-route-id="@item.NivelAcessoId"><i class="bi bi-trash"></i> Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
