

@model IEnumerable<ProjetoMyTeDev.Areas.Identity.Data.ApplicationUser>

@{
    ViewData["Title"] = "Gerenciar Funcionário";
    var nome = ViewBag.Nome as string;
    var localidade = ViewBag.Localidade as string;
    var cargo = ViewBag.Cargo as string;
    var departamento = ViewBag.Departamento as string;
}

<h3>Funcionário</h3>

<form method="get" asp-controller="Home" asp-action="Funcionario">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" id="Nome" name="nome" value="@nome" />
    </div>
    <div class="form-group">
        <label for="Localidade">Localidade</label>
        <input type="text" class="form-control" id="Localidade" name="localidade" value="@localidade" />
    </div>
    <div class="form-group">
        <label for="Cargo">Cargo</label>
        <input type="text" class="form-control" id="Cargo" name="cargo" value="@cargo" />
    </div>
    <div class="form-group">
        <label for="Departamento">Departamento</label>
        <input type="text" class="form-control" id="Departamento" name="departamento" value="@departamento" />
    </div>
    <button type="submit" class="btn btn-secondary my-4">Filtrar</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary my-4">Voltar</a>
</form>



<p>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-secondary my-4">Cadastrar Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataContratacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.DepartamentoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataContratacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.CargoNome)
                </td>
                <td>
                    
                    <a asp-controller="Home" asp-action="EditFuncionario" class="btn btn-secondary my-4" asp-route-id="@item.Id"><i class="bi bi-brush"></i> Editar</a>
                    <a asp-action="Details" class="btn btn-secondary my-4" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Visualizar</a>
                    <a asp-action="Delete" class="btn btn-secondary my-4" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>